<?php
!defined('IN_APP') && exit('ILLEGAL EXECUTION');
/**
 * @author  ryan <cumt.xiaochi@gmail.com>
 */
?>
<div>返回<a href="<?php echo ROOT."teacher/$teacher->id" ?>"><?php echo $teacher->name ?></a></div>
<h3><?php echo $comment->title ?></h3>
<strong><?php echo $comment->user()->name ?></strong>
<span><?php echo $comment->created ?></span>
<div><?php echo $comment->content ?></div>
<?php foreach ($additions as $a): ?>
  <div>
    <div><?php echo $a->content ?></div>
    <span>添加于 <?php echo $a->created ?></span>
  </div>
<?php endforeach ?>
<?php if ($commentedByMe): ?>
  <a href="<?php echo ROOT,'teacher/',$teacher->id,'/comment/',$comment->id,'/add' ?>">添加内容</a>
<?php endif ?>
<?php if ($has_login && !$commentedByMe): ?>
  <span 
    class="btn btn-small vote-btn like-btn <?php echo $comment->likedByMe ? 'btn-inverse' : '' ?>" 
    title="<?php echo $comment->likedByMe ? '不再喜欢这个评论' : '喜欢这个评论' ?>"
    data-type="comment" 
    data-action="like" 
    data-target="<?php echo $comment->id ?>">喜欢</span>
  <span class="like-count"><?php echo $comment->likeCount() ?></span>
  <span 
    class="btn btn-small vote-btn hate-btn <?php echo $comment->hatedByMe ? 'btn-inverse' : '' ?>" 
    title="<?php echo $comment->hatedByMe ? '不再讨厌这个评论' : '讨厌这个评论' ?>"
    data-type="comment" 
    data-action="hate" 
    data-target="<?php echo $comment->id ?>">不喜欢</span>
  <span class="hate-count"><?php echo $comment->hateCount() ?></span>
<?php endif ?>
<?php foreach ($discusses as $d): ?>
  <li>
    <?php $u = $d->user(); ?>
    <a href="<?php echo ROOT."user/$u->id" ?>"><?php echo $u->name ?></a>
    <div><?php echo $d->content ?></div>
  </li>
<?php endforeach ?>
<?php if ($has_login): ?>
  <form action="<?php echo ROOT."comment/$comment->id/discuss" ?>" method="post">
    <textarea name="content"></textarea>
    <button>评论</button>
  </form>
<?php endif ?>