<?php
!defined('IN_APP') && exit('ILLEGAL EXECUTION');
/**
 * @author  ryan <cumt.xiaochi@gmail.com>
 */
?>
<div class="row-fluid">
  <div class="span6">
    <form action="/search" class="form-search">
      <input type="hidden" name="type" value="teacher">
      <input type="text" name="q" class="search-query" placeholder="输入老师的名字，搜索老师">
      <button type="submit" class="btn">搜索老师</button>
    </form>
  </div>
  <div class="span6">
    <form action="/search" class="form-search">
      <input type="hidden" name="type" value="course">
      <input type="text" name="q" class="search-query" placeholder="输入课程的名称，搜索课程">
      <button type="submit" class="btn">搜索课程</button>
    </form>
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
    <div>老师列表</div>
    <ul>
      <?php foreach ($recentTeachers as $t): ?>
        <li><a href="<?php echo ROOT,"teacher/$t->id" ?>"><?php echo $t->name ?></a></li>
      <?php endforeach ?>
    </ul>
  </div>
  <div class="span6">
    <div>课程列表</div>
    <ul>
      <?php foreach ($recentCourses as $c): ?>
        <li>
          <a href="<?php echo ROOT.'course/'.$c->id ?>"><?php echo $c->name ?></a>
        </li>
      <?php endforeach ?>
    </ul>
  </div>
</div>

