<?php
!defined('IN_APP') && exit('ILLEGAL EXECUTION');
/**
 * @author  ryan <cumt.xiaochi@gmail.com>
 */
?>
<div><?= $q ?> 搜索结果</div>
<div>共<?= count($teachers) ?>条搜索结果</div>
<table class="table">
  <thead>
    <tr>
      <th>教师名称</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <?php foreach ($teachers as $teacher): ?>
      <tr>
        <td>
          <a href="<?= $teacher->id ?>"><?= $teacher->name ?></a>
        </td>
        <td><?= $teacher->no ?></td>
      </tr>
    <?php endforeach ?>
  </tbody>
</table>
<div>没有您想要的结果？<a href="/teacher/add?name=<?= $q ?>">添加老师 <?= $q ?></a></div>
