<?php
!defined('IN_APP') && exit('ILLEGAL EXECUTION');
/**
 * @author  ryan <cumt.xiaochi@gmail.com>
 */
?>
<div><?= $q ?> 搜索结果</div>
<div>共<?= count($teachers) ?>条搜索结果</div>
<?php if ($teachers): ?>
  <table class="table">
    <thead>
      <tr>
        <th>教师名称</th>
        <th>所在学院</th>
        <th>简要描述</th>
      </tr>
    </thead>
    <tbody>
      <?php foreach ($teachers as $teacher): ?>
        <tr>
          <td>
            <a href="<?= ROOT.'teacher/'.$teacher->id ?>"><?= $teacher->name ?></a>
          </td>
          <td>
            <a href="<?php echo ROOT,"search?school=$teacher->school" ?>"><?php echo $teacher->school() ?></a>
          </td>
          <td><?= $teacher->description ?></td>
        </tr>
      <?php endforeach ?>
    </tbody>
  </table>
<?php endif ?>
