<?php
!defined('IN_APP') && exit('ILLEGAL EXECUTION');
/**
 * @author  ryan <cumt.xiaochi@gmail.com>
 */
?>
<h3><?= $teacher->name ?></h3>
<div><?= $teacher->description() ?></div>
<?php if ($courses): ?>
  <div><?php echo $teacher->name ?> 老师 的课程</div>
  <ul>
    <?php foreach ($courses as $c): ?>
      <li>
        <a href="<?php echo ROOT."course/$c->id" ?>"><?php echo $c->name ?></a>
      </li>
    <?php endforeach ?>
  </ul>
  <div><?php echo $teacher->name ?> 老师 还教过别的课程， <a href="<?php echo ROOT."course/add?teacher=$teacher->id" ?>">我来补充</a></div>
<?php elseif ($has_login): ?>
  <div>网站还不知道 <?php echo $teacher->name ?> 老师 教过什么课程， <a href="<?php echo ROOT."course/add?teacher=$teacher->id" ?>">我来补充</a></div>
<?php endif ?>
<?php if ($comments): ?>
  <div>对 <?php echo $teacher->name ?> 老师 的评论</div>
  <ul>
    <?php foreach ($comments as $c): ?>
      <li>
        <strong><?php echo $c->user()->name ?></strong>
        <?php if ($has_login && 0): ?>
          <span class="btn btn-small vote-btn" data-action="up">顶</span>
          <span class="btn btn-small vote-btn" data-action="down">踩</span>
        <?php endif ?>
        <div><?php echo $c->content ?></div>
      </li>
    <?php endforeach ?>
  </ul>
<?php else: ?>
  <div>还没有评论</div>
<?php endif ?>
<?php if ($GLOBALS['has_login']): ?>
  <div>撰写评论</div>
  <form action="<?php echo ROOT."comment_teacher/$teacher->id" ?>" method="post">
    <textarea name="content" class="span12"></textarea>
    <button class="btn">评论</button>
  </form>
  <div>每个人只能写一篇评论。不过，你可以在自己的评论上<a href="#">添加内容</a>。</div>
<?php endif ?>
